/*layOut design started by temesgen on 19th March 2018*/

/*make body and page full view size*/
body, html {
	height: 100%;
}

.bg {
	/
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*opacity for the blinked Guessme */
@
-webkit-keyframes blinker {
	from {opacity: 1.0;
}

to {
	opacity: 0.0;
}

}
.blink {
	font-size: 50px;
	font-family: cursive;
	color: rgba(255, 0, 64, 0.76);
	font-family: "serif";
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}


/*presentation way of th login form during first game login*/
.loginform {
	border: 3px solid #f1f1f1;
	position: fixed;
	top: 70px;
	right: 35%;
	margin-right: 10px;
	width: 300px;
	border: 3px solid rgb(33, 105, 173);
	border-radius: 7%;
}

.registerform {
	border: 3px solid #f1f1f1;
	position: fixed;
	top: 70px;
	right: 35%;
	margin-right: 10px;
	width: 300px;
	border: 3px solid rgb(33, 105, 173);
	border-radius: 7%;
}

/*Added by Romie Thu 22 Mar- to align image center*/
#center {	
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Added by Romie Thu 22 Mar- to change font color */
label,#winner{
	color: white;
}

.record {
	margin-left: 38px;
}

input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 7%;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 10%;
}

button:hover {
	opacity: 0.8;
}

.registor {
	width: auto;
	padding: 10px 18px;
	background-color: #72f436;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 10%;
}

.container {
	padding: 16px;
	border-radius: 10%;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.logoutb{
	text-align: right;
}

.instructions{
	color : darkblue;
		
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.navTop {
	background-color: rgb(157, 233, 122);
	width: 400px;
	float: right;
	right: "0px";
}

.navElements {
	padding: 5%;
	font-size: 1.25em;
}

.aboutus{
	border:thick;
	border-radius:10; 
	position: fixed;
	right: 25%;
	top: 25%;
}
.tmnt {
	
	text-align: center;
	font-weight: bold;
	font-size: 32pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;;
	overflow: hidden;
}

.imageaboutus{
	border-radius:50%; 
}