/*additional css for the updating profile by temesgen on 21st March*/

.panel{
    padding: 20;
    background-color: rgba(9, 36, 15, 0.904)
    
}

.centerit{
    background-color: rgb(97, 79, 82);
    
    align-self: center;
    border-radius: 15%;
    color: rgb(241, 221, 182);
}
input{
    border-radius: 10%;
  
}

